<!DOCTYPE html>
<html>
  <head>
    <title>Golf</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<!-- Whenever we get a flash message, display all of them -->
  	<% flash.each do |name, msg| %>
  		<ul>
  			<li> <%= msg %> </li>
  		</ul>
  	<% end %>
    <%= yield %>
  </body>
</html>
